html {
    max-width: 1920px;
    font-size: 18px;
}

.header {
    grid-area: header;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: stretch center;
    align-self: stretch center;
    padding: 30px;
    text-align: center;
    background: white;
}

.topnav {
    grid-area: meniu;
    grid-column-start: 1;
    grid-column-end: span 12;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: stretch center;
    align-self: stretch center;
}

.main {
    grid-area: main;
    grid-column-start: 1;
    grid-column-end: span 12;
    grid-row-start: 3;
    grid-row-end: 5;
    justify-self: stretch center;
    align-self: stretch center;
}

.leftbar {
    grid-area: main;
    grid-column-start: 1;
    grid-column-end: span 9;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: stretch center;
    align-self: stretch center;
    padding-right: 2%;
}

.rightbar {
    grid-area: main;
    grid-column-start: 10;
    grid-column-end: span 3;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: stretch center;
    align-self: center stretch;
}

.followme {
    grid-area: followme;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.footer {
    grid-area: footer;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 7;
    grid-row-end: 8;
    justify-self: stretch center;
    align-self: stretch center;
}

.container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

body {
    font-family: 'Staatliches', cursive;
    padding: 10px;
    background: #f1f1f1;
}

img {
    max-width: 100%;
    max-height: 100%;
}


/* Header/Blog Title */

.header h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.6rem;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.6rem;
}

p {
    font-size: 1rem;
}


/* Style the top navigation bar */

.topnav {
    overflow: hidden;
    background-color: #333;
}


/* Style the topnav links */

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change color on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* Create two unequal columns that floats next to each other */


/* Left column */

.leftcolumn {
    float: left;
}


/* Right column */

.rightcolumn {
    float: left;
    background-color: #f1f1f1;
    padding-left: 20px;
}


/* Fake image */

.fakeimg {
    background-color: #aaa;
    padding: 20px;
    font-size: 0.8rem !important;
}

.fakeimg-top {
    background-color: #aaa;
    padding: 0.5rem 2rem 0.5rem 2rem;
    font-size: 0.6rem !important;
}


/* Add a card effect for articles */

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.card-top {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    grid-row: 3 / 5;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Footer */

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 720px) {
    html {
        font-size: 5px;
    }
    [class*="col-"] {
        width: 100% !important;
    }
    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}


/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}